# Secrets
.env
.env.local

# Java / Maven
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd
*.jar

# Node / Frontend
**/node_modules/
**/dist/
.eslintcache

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker logs
postgres_data/